
.navbar-img {
    max-height: 20px;
}


/**
 * Menu
 */

.navbar, .navbar .dropdown-menu{
    margin-top: 20px;
}

.navbar-brand img {
    width: 150px;
    margin-top: -40px;
}


/**
 * Layout
 */

body {
    
}

.container-principal {
    background-color: #FFFFFF;
    min-height: 600px;
    /* workaround */
    margin-top: -20px;
}

.conteudo {
    
}

.conteudo-ajax {
    
}


.paginacao {
    
}

.icone-padrao {
    color: #0067b5;
}

.icone-editar {
    color: #ff7800;
}

.icone-deletar {
    color: #d41414;
}

.icone-ok {
    color: #14c125;
}
.icone-menu {
    
}

.icone-ajuda {
    color: #0067b5;
}

.rodape {
    width: 100%;
    background: #03a9f4;
    color: #fff;
    padding: 10px 0;
}

/* Isso pode ser deletado se o css vier do less */
.page-header {
    margin: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}

/**
 * Outros
 */

img.miniatura {
    width: 20%;
    height: 20%;
}
img.miniatura-produto {
    width: 50%;
}
img.miniatura-produto-pack {
    width: 100%;
}
img.miniatura-produto-baner {
    width: 100%;
}
img.miniatura-produto-versao {
    width: 30%;
}

.canvas-result canvas {
    width: 100%;
}