@import url(/css/owl.carousel.css);

@import url(/css/owl.theme.css);

@import url(/css/owl.transitions.css);

@import url(/css/ionicons.min.css);

@import url(/css/font-awesome.min.css);

@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700);

.clear,.clearfix:after {
  clear: both;
}

.wrap,body.mode-search {
  overflow: hidden;
}

@font-face {
  font-family:proxima_nova_rgregular;font-weight:400;font-style:normal;src:url(font/proxima_nova_reg-webfont.eot);src:url(font/proxima_nova_reg-webfont.eot?#iefix) format('embedded-opentype'),url(font/proxima_nova_reg-webfont.woff2) format('woff2'),url(font/proxima_nova_reg-webfont.woff) format('woff'),url(font/proxima_nova_reg-webfont.ttf) format('truetype'),url(font/proxima_nova_reg-webfont.svg#proxima_nova_rgregular) format('svg');
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn,.form input {
  box-sizing: border-box;
}

.clearfix:after,.clearfix:before {
  display: table;
  content: ' ';
}

#pull {
  display: none;
}

body {
  font-family: proxima_nova_rgregular;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #000;
}

.alert {
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1,h2,h3,li,ol,p,span {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,a:hover,a:link,a:visited {
  cursor: pointer!important;
  text-decoration: none;
  color: #01a1dd;
}

h1,h2,h3,h4 {
  font-family: Comfortaa;
}

header {
  float: left;
  width: 100%;
  border-bottom: 1px solid #eee;
  transition: all .1s ease-in-out;
}

header #header-color {
  float: left;
  width: 100%;
}

header #header-color #color-01,header #header-color #color-02,header #header-color #color-03 {
  float: left;
  padding: .3%;
}

header #header-color #color-01 {
  width: 50%;
  background: #01a1dd;
}

header #header-color #color-02 {
  width: 30%;
  background: #088ac6;
}

header #header-color #color-03 {
  width: 20%;
  background: #1264a1;
}

.centralizar {
  width: 100%;
  padding: 0 5%;
}

header #logo a {
  float: left;
  width: 174px;
  height: 124px;
}

header #nav-right {
  font-weight: 700;
  font-style: normal;
  float: right;
  width: 80%;
  margin: 10px 0 0;
}

.form input,.header .header-content h1,.header .header-content h2 {
  font-weight: 200;
}

header #nav-right #nav-social {
  float: left;
  width: 100%;
  text-align: right;
}

header #nav-right #nav-social ol {
  position: relative;
  z-index: 3;
  float: right;
  width: 60px;
  margin: 10px 0 0;
}

#content-banner img,.header,header nav {
  width: 100%;
}

header #nav-right #nav-social ol li {
  float: left;
  list-style: none;
  text-align: right;
}

header nav {
  position: relative;
  float: left;
  margin-top: 20px;
  text-align: right;
  color: #062682;
}

.controls,h2 {
  text-align: center;
}

.logo {width: 180px;}

header nav a {
  color: #1c2b34!important;
}

#centralizar-banner ol,header nav ol {
  list-style: none;
}

header nav ol li {
  font-size: 14px;
  position: relative;
  display: inline-block;
  padding: 0 .6%;
  text-transform: uppercase;
}

header nav ol li.ativo {
  padding-bottom: 48px;
  border-bottom: 9px #01a1df solid;
}

header nav ol li,header nav ol li a:link,header nav ol li a:visited {
  transition: all .1s ease-in-out;
  color: #062682!important;
}

header nav ol li.ativo a:link,header nav ol li.ativo a:visited {
  color: #01a1df!important;
}

header nav ol li a:hover {
  color: #01a1dd!important;
}

header nav ol li:first-child {
  padding-left: 0;
}

header nav ol li:first-child:after,header nav ol li:nth-child(2):after {
  position: relative;
  top: -2px;
}

header nav ol li:nth-child(9) {
  position: relative;
  margin-left: 70px;
  padding-right: 0;
}

header nav ol li:nth-child(9) img {
  position: relative;
  top: -5px;
}

header nav ol li>ul {
  position: absolute;
  display: none;
  transition: .2s ease-in-out;
}

header nav ol li:hover>ul {
  display: block;
  border-top: 0;
  background: #01a1dd;
}

header nav ol li:hover>ul li:hover {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

header nav ol li li a:hover {
  background: #000;
}

#content-banner {
  float: left;
  width: 100%;
}

body.mode-search .fa-times,body.mode-search .form {
  z-index: 3;
  transform: none;
  pointer-events: all;
  opacity: 1;
  color: #fff;
}

.fa-times,.form,body.mode-search .control .fa-search {
  opacity: 0;
}

body.mode-search .control .btn {
  transform: scale(100);
}

.header {
  position: relative;
  height: 50%;
  color: #fff;
  background: #22313f;
}

.header .header-content {
  padding: 70px 50px;
}

.control {
  position: absolute;
  z-index: 3;
  top: -30px;
  cursor: pointer;
  outline: 0;
}

.control .fa-search {
  font-size: 21px;
  color: #fff;
  top: -31px;
  position: relative;
  right: 10px;
  transition: .2s ease-in-out;
}

.fa-times {
  font-size: 80px;
  position: fixed;
  top: 30px;
  right: 30px;
  transition: all .3s ease-in-out;
  color: #fff;
}

.btn {
  width: 12px;
  height: 12px;
  padding: 20px;
  transition: all .7s cubic-bezier(.4,0,.2,1);
  transform-origin: 50%;
  border-radius: 100%;
  outline: 0;
  background: #01a1dd;
}

.btn:focus,button:focus,i:focus,input {
  outline: 0!important;
}

.form {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50px;
  height: 80px;
  margin-top: -40px;
  transition: all .3s ease-in-out;
  transform: translate(40px,0);
  pointer-events: none;
}

.form input {
  font-size: 40px;
  border: 0;
  outline: 0;
  background: 0 0;
  -webkit-appearance: none;
  color: #fff!important;
}

.form input::-webkit-input-placeholder {
  color: #fff!important;
}

.form input:-moz-placeholder {
  opacity: 1;
  color: #fff!important;
}

.form input::-moz-placeholder {
  opacity: 1;
  color: #fff!important;
}

.form input:-ms-input-placeholder {
  color: #fff!important;
}
.button-search {    
  border-bottom: 7px solid #0298D0 !important; 
  cursor: pointer;
}
.button-search:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f002";
}
footer {
  float: left;
  width: 100%;
  margin-top: 20px;
  color: #fff;
  background: #008fd9;
}

footer .centralizar #footer-logo {
  float: left;
  width: 120px;
  height: 120px;
  background: url(../images/logofooter.png) no-repeat;
  background-size: contain;
}

footer .centralizar #mapa-site {
  font-size: 14px;
  float: left;
  width: 69%;
  margin-left: 40px;
  text-transform: uppercase;
}

footer .centralizar #mapa-site ul {
  float: left;
  width: 30%;
  margin-left: 20px;
}

footer .centralizar #mapa-site ul li {
  padding: 0;
  list-style: none;
  font-size: 16px;
}

footer .centralizar #mapa-site ol li:nth-child(2) {
  margin: 0 30px;
}

footer .centralizar #mapa-site a {
  transition: all .1s ease-in-out;
  text-transform: uppercase;
  color: #fff;
}

footer .centralizar #mapa-site a:hover {
  color: #7dc5ef!important;
}

footer .centralizar #footer-social {
  float: right;
  width: 18%;
}

footer .centralizar #footer-social ol {
  margin: 0;
  padding: 0;
}

footer .centralizar #footer-social ol li {
  font-size: 18px;
  display: inline-block;
  width: 100%;
  list-style: none;
}

footer .centralizar #footer-social ol li a {
  color: #fff;
}

footer .centralizar #footer-social h3 {
  font-weight: 200;
  margin-top: 20px;
  color: #7dc5ef;
}

.text-right {
  padding: 10px;
  text-align: right;
}

.text-right a {
  color: #d3234e;
}

footer .centralizar #footer-social img {
  position: relative;
  top: 8px;
  margin-right: 5px;
}

footer .centralizar #copyright {
  float: left;
  clear: both;
  width: 100%;
  margin: 0 0 10px;
}

footer .centralizar #copyright #assinatura {
  float: right;
}

footer .centralizar #copyright #assinatura a {
  color: #fff;
}

.mapa-text a {
  text-transform: none!important;
  font-size: 14px;
}

.carousel {
  position: relative;
  left: -100%;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: translateX(100%);
}

@media (min-width:30em) {
  .carousel {
    left: -50%;
    transform: translateX(50%);
  }
}

@media (min-width:40em) {
  .carousel {
    left: -33.33333%;
    transform: translateX(33.33333%);
  }
}

.carousel.is-reversing {
  transform: translateX(-100%);
}

@media (min-width:30em) {
  .carousel.is-reversing {
    transform: translateX(-50%);
  }
}

@media (min-width:40em) {
  .carousel.is-reversing {
    transform: translateX(-33.33333%);
  }
}

.carousel.is-set {
  transition: transform .5s cubic-bezier(.23,1,.32,1);
  transform: none;
}

.carousel-seat {
  background: #ddd;
  flex: 1 0 100%;
  order: 2;
}

.carousel-seat:nth-child(even) {
  background: #d5d5d5;
}

@media (min-width:30em) {
  .carousel-seat {
    flex-basis: 50%;
  }
}

@media (min-width:40em) {
  .carousel-seat {
    flex-basis: 33.33333%;
  }
}

.carousel-seat.is-ref {
  order: 1;
}

h2 {
  font-size: 7em;
  font-weight: 400;
  margin: 0;
  padding: .6em 0;
  color: #aaa;
}

.controls {
  padding: 2em;
}

.controls button {
  padding: .5em 1em;
  color: #eee;
  border: 0;
  border-radius: .25em;
  background: #aaa;
}

.controls button:focus,.controls button:hover {
  background: #ff00ff;
}

#blog-gray-01 {
  position: absolute;
  z-index: 2;
  top: 35%;
  left: 0;
  width: 25%;
  height: 230px;
  background: rgba(255,255,255,.85);
}

@media screen and (max-width:1117px) {
  #content-right .content-produto-01 h1,#content-right .content-produto-02 h1,#produtos-relacionados ul li h1 {
    font-size: 14px!important;
  }

  #content-right .content-blog-01,#content-right .content-blog-02,#content-right .content-produto-01,#content-right .content-produto-02 {
    height: auto;
  }

  header #nav-right {
    width: 75%;
  }

  header nav ol li {
    font-size: 13px;
  }
}

@media screen and (max-width:1110px) {
  #pull,footer {
    text-align: center;
  }
  header #nav-right #nav-social ol {margin: 20px 0 0;}

  header #header-color #color-01,header #header-color #color-02,header #header-color #color-03 {
    height: 5px;
  }

  #pull {
    display: block;
    top: 0;
    right: 0;
    float: right;
    width: 100%;
    width: 38px;
    margin-bottom: 20px;
    background: #01a1dd;
    color: #fff!important;
    font-size: 21px;
    padding: 6px 0;
  }

  nav ol {
    display: none;
    margin-top: 80px;
  }

  nav ol li {
    display: list-item!important;
    width: auto;
    padding: 10px 0!important;
    text-align: left;
  }

  .control,.form,footer .centralizar #mapa-site {
    display: none;
  }

  footer .centralizar #footer-logo {
    width: 49%
  }

  footer .centralizar #footer-social {
  width: 49%;
  }

  footer .centralizar #copyright {
    margin:10px 0;
  }

  footer .centralizar #footer-social img {
    position: relative;
    top: 6px;
    margin-right: 2px;
}

  header #nav-right {
    width: 100%;
    margin: -80px 0 0;
  }

  header nav ol li.ativo {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

@media (max-width:767px) {
  header #nav-right #nav-social {
    position: relative;
    top: -65px;
    right: 22px;
  }

  header nav {
    top: -30px;
    margin-top: 0;
  }
}

.fileName {
    float: left;
    padding: 7px;
    /* background-color: red; */
    margin-top: 18px;
    border-radius: 6px;
    margin-left: 7px;
    border: 1px solid #ddd;
    text-transform: uppercase;
    font-size: 10px;
}

.removeC {
    border-radius: 14px;
    border: 1px solid #ddd;
    background-color: transparent;
    padding: 0px;
    margin-left: 9px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    padding-top: 3px;
    color: #333;
}

.produto-imagem {
    width: 100%;
    height: 359px;
}

.produto-imagem img{
    height:100%;
    width: auto;
}

.blog-imagem {
    min-height: 230px;
} 