.block-media,.container {
  width: 100%;
  position: relative;
}

#content,.container,.slick-list {
  overflow: hidden;
}

#content-banner {
  position: relative;
  z-index: 2;
  margin-top: 7px;
}

.block-media {
  display: inline-block;
}

.control {
  bottom: -33px!important;
}

.block-text h2 {
  font-family: proxima-nova,sans-serif;
  font-size: 25px;
  font-weight: 300;
  margin: 5% 0;
  text-align: left;
  color: #fff!important;
}

.block-text span {
  font-size: 15px;
  clear: both;
  padding-top: 10px;
  text-transform: uppercase;
  color: #fff;
  border-top: 1px solid #85cde8;
}

.block-text span:after {
  position: relative;
  top: 2px;
  left: 5px;
  content: url(../images/icon-banner-arrow.png);
}

.block-text {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  width: 31%;
  height: 99.3%;
  padding: 2% 0 5%;
  background: url(../images/bg-banner.jpg);
}

#content,#content-blog {
  position: relative;
  width: 100%;
}

#content-blog {
  float: left;
  margin: 20px 0 0;
}

#content-blog h1 {
  font-family: Comfortaa,cursive;
  font-size: 28px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #d4006d;
}

#content-blog #blog-desc {
  font-size: 15px;
  line-height: 24px;
  width: 900px;
  margin: auto;
  text-align: center;
  color: #767C84;
}

#content {
  padding: 0;
}

#content-blog .blog-img {
  float: right;
  overflow: hidden;
  width: 60%;
  height: 180px;
}

#content-blog .content-txt {
  position: absolute;
  float: left;
  width: 40%;
  height: 100%;
  padding: 5% 5% 0;
  color: #fff;
  background: #d4006d;
}

#content-blog .content-txt:after {
  position: absolute;
  visibility: visible;
  width: 0;
  height: 0;
  content: '';
  pointer-events: none;
  border: solid transparent;
  top: 46%;
  right: -20px;
  margin-top: -10px;
  border-width: 10px;
  border-left-color: #d4006d;
}

.slick-list,.slick-slider,.slick-track {
  position: relative;
  display: block;
}

.slick-loading .slick-slide,.slick-loading .slick-track {
  visibility: hidden;
}

#content-blog .content-txt span:after {
  margin: -2px 4px;
  padding: 1px 6px;
  content: '+';
  text-align: center;
  border: solid transparent;
  border: 2px solid #fff;
  border-radius: 50%;
}

#content-blog .content-txt a,#content-blog .content-txt a:active {
  color: #fff;
}

#content-blog .content-txt h2 {
  font-family: proxima-nova,sans-serif;
  font-size: 16px;
  text-align: left;
  color: #fff;
}

.slick-dots li button:before,.slick-next:before,.slick-prev:before {
  font-family: slick;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  margin: 0!important;
}

.carousel-images>.slick-list {
  padding: 0!important;
}

.carousel-images>.slick-list>.slick-slide {
  width: 350px!important;
}

.carousel-images>.slick-prev {
  top: 10px;
  left: 0;
}

.carousel-images>.slick-next {
  right: 10px;
}

.carousel-images>.slick-dots {
  bottom: -10px;
}

.carousel-images>.slick-dots>li button:before {
  font-size: 12px;
}

.carousel-text {
  font-weight: 100;
  padding: 20px;
}

.carousel-text .title {
  font-size: 1.05em;
  font-weight: 300;
  text-transform: uppercase;
  color: #bdc3c7;
}

.carousel-text .headline {
  text-align: justify;
  color: #fff;
}

.slick-next,.slick-next:focus,.slick-next:hover,.slick-prev,.slick-prev:focus,.slick-prev:hover {
  color: transparent;
  background: 0 0;
  outline: 0;
}

.slick-slider {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: 0;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-dots li,.slick-dots li button,.slick-next,.slick-prev {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.slick-slide,.slick-slide img,.slick-slider .slick-list,.slick-track {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.slick-track {
  top: 0;
  left: 0;
  zoom: 1;
}

.slick-track:after,.slick-track:before {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img {
  display: block;
  width: 100%;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-next,.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  display: block;
  margin-top: -10px;
  padding: 0;
  border: none;
}

.slick-next:focus:before,.slick-next:hover:before,.slick-prev:focus:before,.slick-prev:hover:before {
  opacity: 1;
}

.slick-next.slick-disabled:before,.slick-prev.slick-disabled:before {
  opacity: .25;
}

.slick-next:before,.slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #fff;
}

.slick-prev {
  top: 30px;
  left: 20px;
  margin-right: 10px;
}

.slick-prev:before {
  content: url(../images/icon-arrow-left.png);
}

.slick-next {
  top: 30px;
  left: 60px;
}

.slick-next:before {
  content: url(../images/icon-arrow-right.png);
}

.slick-slider {
  margin-bottom: 30;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  padding: 5px;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}

.slick-dots li button:focus,.slick-dots li button:hover {
  outline: 0;
}

.slick-dots li button:focus:before,.slick-dots li button:hover:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 30px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '\2022';
  text-align: center;
  color: #fff;
}

.slick-dots li.slick-active button:before {
  color: #fff;
  border: 2px solid #fff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

[dir=rtl] .slick-next {
  right: auto;
  left: -25px;
}

[dir=rtl] .slick-next:before {
  content: '\2190';
}

[dir=rtl] .slick-prev {
  right: -25px;
  left: auto;
}

[dir=rtl] .slick-prev:before {
  content: '\2192';
}

[dir=rtl] .slick-slide {
  float: right;
}

#owl-demo .item {
  float: left;
  width: 100%;
}

#owl-demo .item img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (max-width:1110px) {
  .block-text h2 {
    font-size: 18px;
  }

  .block-text {
    position: relative;
    right: 0;
    width: 100%;
    margin-top: -4px;
    padding: 0;
  }

  .slick-slide img {
    width: 150%;
  }

  #content-blog #blog-desc {
    width: 100%;
    padding: 0 3%;
  }

  .slick-next,.slick-prev {
    top: 20px;
  }

  #content-blog .content-txt h2 {
    font-size: 14px;
  }
}