/*=========================================================================
DEV. POR PH2 www.ph2.com.br
==========================================================================*/
.clean
{
    clear: both;
}
.centralizar h2
{
    font-size: 25px;
    font-weight: 400;

    margin: 0;
    padding: 0;

    text-transform: uppercase;
}
.centralizar p a
{
    font-weight: 700;

    color: #008fd9;
}




.centralizar p a:hover
{
    text-decoration: underline;
}
.institucional-top
{
    clear: both;

    padding-top: 30px;
}
#titulo-institucional
{
    margin-bottom: 20px;

    text-align: left;

    color: #01a1dd;
}


.institucional
{
    width: 75% !important;
    padding: 0 2%;
}


.institucional img {margin:10px;}

.institucional strong
{
    color: #008fd9;
}
.institucional h3
{
    font-size: 18px;

    margin: 0;
    padding: 0;

    color: #008fd9;
}
#content-left .ativo
/* foi criado uma class que não precisava favor remover quando o desenvolvedor arrumar*/
{
    border-left: 9px solid #008fd9;
}

/*busca*/
#content-busca
{
    float: left;

    width: 100%;
    margin-top: 60px;

    text-align: left;
    text-transform: uppercase;
}
#content-busca #content-busca-left
{
    float: left;

    width: 30%;
    padding: 2% 2% 0;

    background: #008fd9;
}
#content-busca #content-busca-right
{
    float: left;

    width: 70%;
    padding: 2% 2% 0;

    background: #01a1dd;
}
#content-busca .rosa-color{
    background: #D4006D !important;
}
.rosa-color-font {
    color: #fff !important; 
}
#content-busca .rosa-color-02 {
    background: rgba(228,0,109,1) !important;
}
.color-h2 {
    color: #D4006D !important;
}
.busca-box
{
    width: 100% !important;
}
.busca-box p
{
    font-size: 16px;

    padding: 2%;
}
.busca-box .box-produto
{
    width: 20% !important;
}
#content-busca p
{
    font-size: 20px;
    color: #fff;
}

#content-busca p span
{
    color: #7dc5ef;
}
#menu-institucional,
#menu-blog
{
    float: left;

    width: 100%;

    background: #f6f5f2;
}

ul.tags-l > li > a {
    color:#fff;
}
#menu-institucional h2
{
    font-size: 16px;

    margin: 0;
    padding: 20px 5%;

    text-align: left;

    color: #fff;
    background: #008fd9;
}
#menu-institucional ul
{
    padding: 0 !important;
}
#menu-institucional ul li
{
    font-size: 18px;
    font-weight: 300;
    width: 100%;
    padding: 20px 5%;

    border-bottom: 1px solid #ededed;
    border-left: 7px solid #f6f5f2;
}
#menu-institucional #menu-ative
{
    border-left: 7px solid #008fd9;
    background: #ebebe9;
}
#menu-institucional #menu-ative a
{
    color: #008fd9 !important;
}
#menu-institucional ul li:nth-child(6)
{
    border-bottom: 0;
}
#menu-institucional ul li a
{
    color: #767C84;
}
.green
{
    float: left;

    width: 60% !important;
    width: 100% !important;
    margin: 20px 0;
    margin: 20px 0 !important;
    padding-top: 31px !important;

    text-align: left !important;
    text-transform: none !important;

    color: #008FD9;
    border-top: 1px solid #dadada;
}
.centralizar #centralizar-box
{
    font-size: 16px;
    line-height: 23px;

    float: left;

    width: 100%;
    margin: 10px auto 30px;
    padding: 0 10%;

    text-align: center;

    color: #767C84;
}
.centralizar #centralizar-box strong
{
    color: #01a1dd;
}
#content-banner
{
    position: relative;

    float: left;

    width: 100%;
    margin-top: -3px;
}
#content-banner img
{
    width: 100%;
}
#nav-breadcrumb
{
    position: absolute;
    top: 0;

    width: 100%;
}
#content-left
{
    float: left;

    width: 25%;
}
.right
{
    float: right !important;
}
#content-right
{
    float: left;
    overflow: hidden;

    width: 75%;
}
#content-right .content-produto-01,
#content-right .content-produto-02,
#content-right .content-blog-01,
#content-right .content-blog-02,
#content-right .content-blog-03
{
    position: relative;

    float: left;

    width: 33.333%;
    margin: 0;
    padding: 2%;
}
#content-right .content-produto-01 .produto-imagem,
#content-right .content-produto-02 .produto-imagem,
#produtos-relacionados ul li .produto-imagem
{
    width: 100%;

    text-align: center;
}

#content-right .content-produto-01 h1,
#content-right .content-produto-02 h1,
#produtos-relacionados ul li h1
{
    font-size: 15px;
    font-weight: 400;

    margin: 0;
    padding: 0;

    color: #01a1dd;
    min-height: 50px;
}
#content-right .content-produto-01 .saiba-mais,
#content-right .content-produto-02 .saiba-mais,
#produtos-relacionados ul li .saiba-mais
{
    font-size: 30px;
    font-weight: 700;

    position: relative;
    z-index: 2;

    float: right;

    width: 45px;
    margin-top: -50px;
    padding: 4px 0;

    text-align: center;

    border: 3px solid;
    -webkit-border-radius: 100px;
       -moz-border-radius: 100px;
            border-radius: 100px;
}
.menu-produtos-uso > ul > li.ativo,
.menu-produtos-marca > ul > li.ativo
{
    background-color: #ebebe9;
}
#titulo-produtos
{
    position: relative;
    z-index: 2;

    float: left;

    width: 100%;
    margin: -50px auto 20px;
}
#titulo-produtos #titulo-centralizar
{
    width: 95%;
    margin: auto;
    padding: 0 5%;
}
#titulo-produtos #titulo-centralizar h1
{
    font-size: 35px;
    font-weight: 400;

    margin: 0;
    padding: 0;

    text-transform: uppercase;

    color: #01a1dd;
}
#titulo-produtos #titulo-centralizar h2
{
    font-size: 20px;

    margin: 0;
    padding: 0;

    text-align: left;

    color: #262c6b !important;
}
#produtos-descricao
{
    position: relative;

    float: left;
    overflow: hidden;

    width: 100%;
}
#produtos-descricao #produto-imagem
{
    float: left;

    width: 50%;

    text-align: center;
}
#produtos-descricao #produto-imagem img
{
    float: left;

    width: 100%;
}
#produtos-descricao #produto-descricao
{
    float: left;

    width: 50%;
}
#produtos-descricao #produto-descricao strong
{
    font-size: 18px;
    font-weight: 700;

    color: #01a1dd;
}
#produtos-descricao #produto-descricao h2
{
    font-size: 18px;

    margin-bottom: 10px;

    text-align: left;
    text-transform: uppercase;

    color: #01a1dd;
}
#produtos-descricao #produto-descricao ul
{
    margin-left: 17px;
    padding: 0;
}
#produtos-descricao #produto-descricao ul li
{
    font-size: 14px;
    line-height: 22px;

    list-style: circle;

    color: #062682;
}
#produtos-descricao #produto-descricao .produto-infos
{
    float: left;

    width: 50%;
    margin: 10px 0;
}
#produtos-descricao #produto-descricao .produto-infos li
{
    float: left;

    list-style: none;
}
#produtos-disponivel
{
    float: left;

    width: 100%;
    padding-bottom: 20px;

    border-bottom: 1px solid #f1f1ef;
}
#produtos-disponivel h2
{
    font-size: 25px;

    margin: 20px 0 0;

    text-align: left;
    text-align: center;
    text-transform: uppercase;

    color: #01a1dd;
}
#produtos-disponivel li h2
{
    font-size: 15px;
    font-weight: 400;

    margin: 0;
    padding: 0;

    text-transform: initial;

    color: #01a1dd;
}
#produtos-disponivel ul
{
    margin: 0;
    padding: 0;
}
#produtos-disponivel ul li
{
    position: relative;
    float: left;
    height: 320px;
    width: 25%;
    margin: 0;
    padding: 2%;
    background: rgba(236, 235, 232, .7);
}

#bg-content-left #content-left-centralizar .banner-news {
    float: right;
    overflow: hidden;
    width: 53%;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 32px;
}

@media screen and (max-width: 1095px){

    #bg-content-left #content-left-centralizar .banner-news {

        

        width: 60%;

    } 

}



@media screen and (max-width: 780px){

    #bg-content-left #content-left-centralizar .banner-news {

        

        width:100%;

    } 

}


.blog-coments
{
    margin-top: 20px;
    padding-top: 20px;

    border-top: 1px solid #dadada;
}
#bg-content-left #content-left-centralizar .banner-news img
{
    width: 100%;
}
#bg-content-left #content-left-centralizar .submenu li ul
{
    margin: 0;
    padding: 0 1%;
}
#bg-content-left #content-left-centralizar .submenu li ul li
{
    margin: 0;
    padding: 0 !important;

    list-style: circle;
}
#bg-content-left #content-left-centralizar .submenu li p
{
    clear: both;

    width: 100%;
}
#bg-content-left #content-left-centralizar .submenu li p img
{
    width: 20%;
}
.overlay
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: all .10s ease-in-out;
    text-align: center;

    opacity: 0;
    background: rgba(235, 234, 232, .80);
}
#produtos-disponivel ul li:hover .overlay
{
    opacity: 1;
}
.plus
{
    position: relative;
    top: 45%;

    padding: 10px;

    transition: all .10s ease-in-out;
    text-transform: uppercase;

    color: #fff;
    border-radius: 10px;
    background: #01a1dd;
}
.plus a
{
    color: #01a1dd;
}
.plus:hover span a
{
    color: #fff;
}
.pagination
{
    float: left;

    width: 100%;
    margin: 0;
    padding: 0;

    background: rgba(218, 218, 218, .15) !important;
}
.pagination li
{
    float: left;

    padding: 20px;
}

/* modal */
body.mode-composicao
{
    overflow: hidden;
}
body.mode-composicao .form,
body.mode-composicao .icon-close
{
    
    z-index: 3;

    transform: none;
    pointer-events: all;

    opacity: 1;
}
body.mode-search .composicao .icon-search
{
    opacity: 0;
}
body.mode-composicao .composicao .composicao-btn
{
    transform: scale(100);
}
.composicao
{
    z-index: 3;

    width: 64px;
    height: 64px;

    cursor: pointer;
}
.composicao .icon-search,
.composicao .icon-close
{
    transition: .2s ease-in-out;
}

/* downloads */
.downloads
{
    padding: 0;

    background: #fafafa;
}
.downloads h2
{
    width: 100%;
    padding: 14.4px 1%;

    text-align: left;

    color: #fff;
    background: #01a1dd;
}
.downloads h3
{
    font: 16px 'proxima-nova', sans-serif;

    float: left;

    width: 80%;
    padding: 0 2%;

    color: #767C84;
}
.downloads ul
{
    margin: 0 auto;
    padding: 0;
}
.downloads ul li
{
    width: 100%;
    padding: 23px 0;
    border-bottom: 1px solid #bbb;
}
.downloads a:visited,
.downloads a:link,
.downloads a
{
    color: #008fd9 !important;
}
#produtos-descricao #produto-descricao ul li strong
{
    font-size: 14px;
    font-weight: 400;

    color: #062682;
}
.icon-download
{
    position: relative;
    top: -8px;

    float: left;

    margin-right: 7px;
}

/* Button */
.composicao-btn
{
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    padding: 20px;

    transition: all .7s cubic-bezier(.4, 0, .2, 1);
    transform-origin: 50%;

    border-radius: 100%;
    outline: 0;
    background: #01a1dd;
}


/* error */
.container-error
{
    position: relative;

    float: left;

    width: 100%;
    padding: 0 7%;
}
.container-error img
{
    position: absolute;
    top: 0;
    right: 0;

    width: 31%;
    margin-right: 344px;
}
.container-error h1
{
    font-family: 'proxima_nova_rgregular';
    font-size: 150px;

    position: relative;
    z-index: 2;

    float: left;

    width: 100%;
    margin: 150px 0 0;

    text-align: center;

    color: #008fd9;
}
.container-error h2
{
    font-family: 'proxima_nova_rgregular';
    font-size: 50px;

    position: relative;
    z-index: 2;

    float: left;

    width: 100%;
    margin: 0;
    margin: -60px 0 0;

    text-align: center;

    color: #008fd9;
}
.container-error h3
{
    font-family: 'proxima_nova_rgregular';
    font-size: 20px;

    float: left;

    width: 100%;
    margin: 70px 0 0;
    padding-top: 20px;

    color: #008fd9;
    border-top: 1px solid #ddd;
}
.container-error p
{
    font-size: 16px;

    position: relative;
    z-index: 2;

    float: left;

    width: 100%;

    text-align: center;
}
.container-error ul
{
    margin: 0;
    padding: 0;
}
.container-error ul li
{
    font-size: 16px;

    clear: both;

    margin-left: 14px;

    list-style: circle;
}
.active
{
    font-size: 16px;

    color: #fff !important;
    background: #008fd9 !important;
}
.pagination li a
{
    font-size: 16px;

    color: #008fd9;
}
.produtos-usado
{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    float: left;

    margin: auto;

    text-align: left;
}
.produtos-usado__dot
{
    position: relative;

    display: inline-block;

    width: 48px;
    height: 48px;    /* border: 2px solid #5ae4dd; */
    margin: -11px -2px;
    margin-bottom: 10px;

    cursor: pointer;
    -webkit-transition: .3s;
            transition: .3s;

    border-radius: 100px;
}
.produtos-usado__dot:hover
{
    -webkit-transition: .3s;
            transition: .3s;
}
.produtos-usado__dot:hover:before
{
    top: -48px;

    opacity: 1;
}
.pprodutos-usado__dot:hover:after
{
    top: -18px;

    opacity: 1;
}
.produtos-usado__dot:before
{
    font-family: 'Montserrat';
    font-size: 14px;

    position: absolute;
    top: -40px;
    left: -20px;

    width: 80px;
    padding: 8px 0;
    padding: 6px 2px;

    content: attr(data-tooltip);
    -webkit-transition: .3s;
            transition: .3s;
    text-align: center;

    opacity: 0;
    color: #fff;
    border-radius: 3px;
    background: white;
    background: #01a1dd;
}
.produtos-usado__dot:after
{
    position: absolute;
    top: 0;
    left: -2px;

    width: 0;
    height: 0;

    content: '';
    -webkit-transition: .3s;
            transition: .3s;

    opacity: 0;
    border-top: 6px solid #01a1dd;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
}
#produtos-disponivel ul li:nth-of-type(2n)
{
    background: rgba(226, 225, 222, .68);
}
#produtos-disponivel ul li:nth-child(5),
#produtos-disponivel ul li:nth-child(7),
#produtos-disponivel ul li:nth-child(13),
#produtos-disponivel ul li:nth-child(15)
{
    background: rgba(226, 225, 222, .68);
}
#produtos-disponivel ul li:nth-child(6),
#produtos-disponivel ul li:nth-child(8),
#produtos-disponivel ul li:nth-child(14),
#produtos-disponivel ul li:nth-child(16)
{
    background: rgba(236, 235, 232, .7);
}
#produtos-disponivel ul li img {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
}
#bg-content-left
{
    float: left;
    overflow: hidden;

    width: 100%;
    padding: 20px 0;

    background: rgba(232, 230, 226, .58);
}
#bg-content-left #content-left-centralizar
{
    font-size: 15px;
    line-height: 23px;

    width: 90%;
    margin: auto;

    color: #767C84;
}
#bg-content-left #content-left-centralizar .accordion
{
    width: 100%;
    margin-top: 20px;

    text-transform: none;

    background: none;
}
#bg-content-left #content-left-centralizar .accordion .link
{
    font-size: 20px;
    font-weight: 200;

    position: relative;

    display: block;

    padding: 15px;

    cursor: pointer;
    -webkit-transition: all .4s ease;
         -o-transition: all .4s ease;
            transition: all .4s ease;
    text-transform: uppercase;

    color: #01a1dd;
    border: 1px solid #fff;
    background: #fff;
}
#bg-content-left #content-left-centralizar .accordion li:last-child .link
{
    border-bottom: 0;
}
#bg-content-left #content-left-centralizar .accordion li
{
    margin-bottom: 1px;
}
#content-left img
{
    float: left;

    width: inherit !important;
    margin-right: 10px;
}
#bg-content-left #content-left-centralizar .accordion li i
{
    font-size: 15px;

    position: absolute;
    top: 16px;
    left: 12px;

    -webkit-transition: all .4s ease;
         -o-transition: all .4s ease;
            transition: all .4s ease;

    color: #01a1dd;
}
#bg-content-left #content-left-centralizar .accordion li i.fa-chevron-down
{
    font-size: 20px;
    font-style: normal;

    right: 12px;
    left: auto;
}
#bg-content-left #content-left-centralizar .accordion li.open .link
{
    color: #fff;
    border: 2px solid #01a1dd;
    background: #01a1dd;
}
#bg-content-left #content-left-centralizar .accordion li.open i
{
    color: #fff;
}
#bg-content-left #content-left-centralizar .accordion li.open i.fa-chevron-down
{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
}
#bg-content-left #content-left-centralizar .fa-chevron-down:before
{
    content: '\f077';
}
#bg-content-left #content-left-centralizar .accordion li.default .submenu
{
    display: block;
}

/**
* Submenu
-----------------------------*/
#bg-content-left #content-left-centralizar .submenu
{
    font-size: 15px;

    display: none;

    padding: 16px !important;

    background: #fff;
}
#bg-content-left #content-left-centralizar .submenu li
{
    clear: both;

    padding: 1%;

    border: 0;
}
#bg-content-left #content-left-centralizar .submenu a
{
    font-size: 18px;

    display: block;

    padding: 12px 0;

    -webkit-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
    text-decoration: none;

    color: #01a1dd;
}

/*modal*/

.borbol img {width: 30%;}

/*deletar*/

#bg-content-left img
{
    float: left;

    width: 50%;
}
#bg-content-right
{
    float: left;

    width: 100%;
    padding: 20px 4.5%;

    background: #f6f5f2;
}
#bg-content-right .right-box h2
{
    font-size: 18px;

    text-align: left;
    text-transform: uppercase;

    color: #062682;
}


.tag-section ul {
    margin: 0;padding: 0;
}

.tag-section ul > li {
    background: #01a1dd;padding: 5px;color:#fff;font-style: italic;margin-right: 4px;
}

.rrssb-buttons li {width: auto !important;}

#bg-content-left #content-left-centralizar #social-network ul
{
    margin-left: 17px;
    padding: 0;
}
#bg-content-left #content-left-centralizar #social-network li
{
    float: left;

    list-style: none;
}
#bg-content-left #content-left-centralizar #social-network img
{
    width: inherit;
}
#bg-content-left #content-left-centralizar strong,
#bg-content-left #content-left-centralizar b
{
    font-weight: 700;

    color: #01a1dd;
}
#bg-content-left #content-left-centralizar h2,
#bg-content-right #content-right-centralizar h2
{
    font-size: 18px;
    font-weight: 300;

    margin: 0 0 5px;

    text-align: left;
    text-transform: uppercase;

    color: #01a1dd;
}
#bg-content-left #content-left-centralizar #produto-imagem
{
    float: left;

    width: 50%;
}
#bg-content-left #content-left-centralizar ol
{
    margin: 0 20px;
    padding: 0;
}
#bg-content-left #content-left-centralizar ol li
{
    font-size: 14px;
    line-height: 22px;

    list-style: disc;

    color: #062682;
}
#produtos-relacionados
{
    float: left;

    width: 100%;
    padding: 10px 5%;
}
#produtos-relacionados h2
{
    font-size: 24px;

    width: 100%;

    text-align: center;
    text-transform: uppercase;

    color: #1c2b34;
}
#produtos-relacionados ul
{
    float: left;

    width: 100%;
    margin: 0;
    padding: 0;
}
#produtos-relacionados ul li
{
    position: relative;

    float: left;
    float: left;

    width: 25%;
    margin: 0;
    padding: 2%;
}
#produtos-relacionados ul li:first-child,
#produtos-relacionados ul li:nth-child(3)
{
    background: rgba(236, 235, 232, .7);
}
#produtos-relacionados ul li:nth-child(2),
#produtos-relacionados ul li:nth-child(4)
{
    background: rgba(226, 225, 222, .68);
}
#produtos-relacionados ul li .produto-box
{
    padding: 20px;
}

/*faq*/
#bg-content-left #content-left-centralizar ul
{
    margin: 0;
    padding: 0;
}

/*login*/
.login
{
    font-size: 16px;

    width: 100%;
    margin: 16px auto;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p
{
    margin-top: 0;
    margin-bottom: 0;
}
.login-header
{
    font-size: 1.4em;
    font-weight: normal;

    text-align: center;
    text-transform: uppercase;
}

/* Every row inside .login-container is defined with p tags */
.login input
{
    font-size: 15px;
    width: 100%;
    padding: 15px;
    border: 2px solid #f6f5f2;
    border-radius: 0;
    color: #555;
    border-color: #bbb;
    background: #fff;
}

.login input[type='email'],
.login input[type='password']
{
    color: #555;
    border-color: #bbb;
    background: #fff;
}

/* Text fields' focus effect */
.login input[type='email']:focus,
.login input[type='password']:focus
{
    border-color: #008fd9;
    outline: 0;
}
.login input[type='submit']
{
    font-size: 15px;

    width: 100%;
    padding: 15px;

    text-transform: uppercase;

    color: #fff;
    border: 2px solid #f6f5f2;
    border-radius: 10px;
    background: #008fd9;
}
.login input[type='submit']:hover
{
    background: #17c;
}

/* Buttons' focus effect */
.login input[type='submit']:focus
{
    border-color: #05a;
}

/*saiba hover */
.hovicon
{
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    line-height: 36px;

    position: relative;
    z-index: 1;

    display: inline-block;
    float: right;

    width: 35px;
    height: 35px;
    margin: 0;
    margin: -44px 7px 0 0;
    padding: 0;

    cursor: pointer;
    text-align: center;
    text-decoration: none;

    color: #01a1dd;
    border-radius: 50%;
}
.hovicon.effect-6
{
    -webkit-transition: background .2s, color .2s;
       -moz-transition: background .2s, color .2s;
            transition: background .2s, color .2s;

    box-shadow: 0 0 0 4px #01a1dd;
}
.hovicon.effect-6:hover
{
    color: #fff;
    background: #01a1dd;
}
.hovicon.effect-6:hover i
{
    color: #fff;
}
.hovicon.effect-6:hover:before
{
    -webkit-animation: spinAround 2s linear infinite;
       -moz-animation: spinAround 2s linear infinite;
            animation: spinAround 2s linear infinite;
}
.hovicon.effect-6 a
{
    color: #01a1dd;
}
.hovicon.effect-6:hover a
{
    color: #fff;
}
#content-right .content-produto-01,
#content-right .content-blog-01,#content-right .content-blog-03
{
    background: rgba(236, 235, 232, .7);
}
#content-right .content-produto-02,
#content-right .content-blog-02
{
    background: rgba(226, 225, 222, .68);
}
.centralizar p
{
    font-size: 15px;
    line-height: 23px;

    float: left;

    width: 100%;
    margin-bottom: 20px;

    color: #767C84;
}

/*menu*/
#content-left ul
{
    margin: 0;
    padding: 0;
    font-family: proxima_nova_rgregular;
}
#content-left ul h3 {
    font-family: proxima_nova_rgregular;
    color:#008fd9;;
}
#menu-institucional ul li {
    color: #767C84;

}
.accordion
{
    width: 100%;

    text-transform: uppercase;

    background: #f6f5f2;
}
.accordion .link
{
    font-size: 20px;
    font-weight: 200;

    position: relative;

    display: block;
    font-family: proxima_nova_rgregular;
    padding: 15px;

    cursor: pointer;
    -webkit-transition: all .4s ease;
         -o-transition: all .4s ease;
            transition: all .4s ease;

    color: #fff;
    border: 1px solid #01a1dd;
    background: #01a1dd;
}
.accordion li:last-child .link
{
    border-bottom: 0;
}
.accordion li i
{
    font-size: 15px;

    position: absolute;
    top: 16px;
    left: 12px;

    -webkit-transition: all .4s ease;
         -o-transition: all .4s ease;
            transition: all .4s ease;

    color: #fff;
}
.accordion li i.fa-chevron-down
{
    font-size: 20px;
    font-style: normal;

    right: 12px;
    left: auto;
}
.accordion li.open .link
{
    color: #fff;
}
.accordion li.open i
{
    color: #fff;
}
.accordion li.open i.fa-chevron-down
{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
}
.fa-chevron-down:before
{
    content: '\f077';
}

/* '' */
.accordion li.default .submenu
{
    display: block;
}

/**
* Submenu
-----------------------------*/
.submenu
{
    font-size: 15px;

    display: none;
}
.submenu li
{
    clear: both;

    padding: 3%;

    border-bottom: 1px solid #ededed;
}
.submenu a
{
    font-size: 18px;

    display: block;

    padding: 12px 0;

    -webkit-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
    text-decoration: none;

    color: #01a1dd;
}

/*contato*/
#form-contato
{
    float: left;

    width: 100%;
}
#form-contato .input-01
{
    float: left;

    width: 100%;
    margin-bottom: 10px;
}
#form-contato .input-02-left,
#form-contato .input-02-right
{
    float: left;

    width: 45%;
    margin-bottom: 10px;
}
#form-contato .input-03-left,
#form-contato .input-03-right,
#form-contato .input-03-middle
{
    float: left;

    width: 32.6%;
    margin-bottom: 10px;
}
#form-contato .input-02-left,
#form-contato .input-03-left
{
    margin-right: 0;
}
#form-contato .input-02-right,
#form-contato .input-03-right
{
    margin-left: 0;
}
#form-contato .input-03-middle
{
    margin: 0 1%;
}
#form-contato .input-04-left
{
    float: left;

    width: 32.6%;
    margin-right: 1%;
    margin-bottom: 10px;
}
#form-contato .input-04-right
{
    float: left;

    width: 66.4%;
    margin-bottom: 10px;
}
#form-contato input[type='text'],
#form-contato input[type='email'],
#form-contato input[type='number']
{
    font-size: 15px;

    width: 100%;
    padding: 15px;

    border: 2px solid #bbb;
    border-radius: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


#form-contato label
{
    font-size: 15px;

    float: left;

    margin-top: 16px;
    margin-left: 20px;

    color: #767C84;
}
#form-contato input[type='radio']
{
    font: inherit;

    float: left;

    width: 1em;
    width: 30px;
    height: 1em;
    height: 30px;
    margin-top: 10px;

    cursor: pointer;

    border: 2px solid #bbb;
    border-radius: 50%;
    outline: none;
    background-color: transparent;
    box-shadow: inset 0 0 0 0 #008fd9;

       -moz-appearance: none;
    -webkit-appearance: none;
}
#form-contato input[type='radio']:checked
{
    margin-top: 10px;

    -webkit-transition: background .15s, box-shadow .1s;
            transition: background .15s, box-shadow .1s;

    border: 2px solid #008fd9;
    box-shadow: inset 0 0 0 5px #008fd9;
}
#form-contato input[type='radio']:focus
{
    border: 2px solid #008fd9;
    border-radius: 50% !important;
}
#form-contato input[type='text']:focus, #form-contato input[type='email']:focus, #form-contato input[type='number']:focus,
#form-contato textarea:focus
{
    border: 2px solid #008fd9;
    border-radius: 0;
    outline: none;
}
#form-contato input[type='submit']
{
    border: 2px solid #fff;
    border-radius: 10px;
    outline: none;
}
#form-contato input::-webkit-input-placeholder
{
    font-size: 15px;

    color: #767C84;
}
#form-contato input:-moz-placeholder
{
    font-size: 15px;

    color: #767C84;
}
#form-contato input::-moz-placeholder
{
    font-size: 15px;

    color: #767C84;
}
#form-contato input:-ms-input-placeholder
{
    font-size: 15px;

    color:#767C84;
}
#form-contato input[type='submit']
{
    font-size: 15px;

    padding: 15px;

    text-transform: uppercase;

    color: #fff;
    border: 2px solid #f6f5f2;
    border-radius: 10px;
    background: #008fd9;
    width: 30%;
}
#form-contato #curriculo
{
    overflow: hidden;

    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 20px 0;

    border-radius: 3px;
    background: #fff;
}
#form-contato #curriculo label
{
    font-size: 15px;

    margin: 0;
    padding: 15px;

    text-transform: uppercase;

    color: #fff;
    color: #008fd9;
    border: 2px solid #f6f5f2;
    border-radius: 10px;
    background: #f6f5f2;
}
[type=file]
{
    display: none;
}
.custom-select
{
    font-size: 15px;

    display: inline-block;

    width: 100%;
    padding: 15px;

    cursor: pointer;

    color: #767C84;
    border: 2px solid #bbb;
    border-radius: 0;

       -moz-appearance: none;
    -webkit-appearance: none;
}
#form-contato textarea
{
    font-size: 15px;

    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 100px;
    padding: 15px;

    border: 2px solid #bbb;
    border-radius: 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .custom-select
    {
        background: #fff url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/392/select-arrow.png) 95% 50% no-repeat;
    }
}
#form-contato .input-03
{
    float: left;

    width: 30%;
}

/*breadcrumb produto*/

/*sustentabilidade*/
#content-interna
{
    position: relative;
    z-index: 2;

    float: left;

    width: 100%;
    margin: -5px 0 20px;
}
#content-interna p
{
    float: left;

    width: 70%;
    margin: 0 0 20px;
}
#image-sutentabilidade
{
    float: right;

    margin-top: 25px;
    margin-right: 7%;
}
#box-sutentabilidade
{
    float: left;

    width: 100%;
}
#box-sutentabilidade ul
{
    margin: 0;
    padding: 0;
}
#box-sustentabilidade ul li
{
    font-size: 14px;
    font-weight: 700;

    float: left;

    width: 30%;
    padding: 10px 0;

    text-transform: uppercase;

    color: #1c2b34;
    position: relative;
}
#box-sustentabilidade ul li img
{
    float: left;
    margin-right: 10px;
}
#box-sustentabilidade ul li .box-texto
{
    position: relative;
    float: left;
    width: 74%;
    color: #008FD9;
    margin-top: 10%;
    -moz-transform: translateY(-68%);
    -o-transform: translateY(-68%);
    -ms-transform: translateY(-68%);
    transform: translateY(-68%);
    height: 100%;

}
#box-sustentabilidade ul li:nth-child(2),
#box-sustentabilidade ul li:nth-child(5),
#box-sustentabilidade ul li:nth-child(8)
{
    margin: 0 5%;
}

/*casaemdia*/
.bg-blog-left
{
    width: 74% !important;
}
.bg-blog-right
{
    position: absolute;
    right: 0;

    width: 26% !important;
    height: 100%;
    padding: 2% !important;
}
#search-busca
{
    position: absolute;
    top: 50%;

    width: 100%;
    margin-top: -45px;
    padding: .8% 5%;
}
#search-busca #search-centralizar
{
    width: 100%;
    height: 125px;
    margin: auto;
    padding: .8% 1%;

    color: #fff;
    background: rgba(212, 0, 109, .85);
}
#search-busca #search-centralizar h2
{
    font-size: 30px;
    font-weight: 300;
    position: relative;
    top: 43%;
    float: left;
    width: 30%;
    margin-top: -32px;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
}
#search-busca #search-centralizar input[type=text]:focus
{
    outline: none;
}
#search-busca #search-centralizar h2:before
{
    position: relative;
    top: 14px;

    margin-right: 9px;

    content: url('../images/icon-casa.png');
}
#search-busca #search-centralizar input[type=text]
{
    font-size: 16px;
    width: 70%;
    margin-top: 6px;
    padding: 1%;
    background: url('../images/icon-blog-search.png') no-repeat;
    background-color: #fff;
    background-position: right -5px;
    border:0;
}
#search-busca #search-centralizar input[type=text]::-webkit-input-placeholder
{
    /* Chrome/Opera/Safari */
    font-size: 16px;
}
#search-busca #search-centralizar input[type=text]::-moz-placeholder
{
    /* Firefox 19+ */
    font-size: 16px;
}
#search-busca #search-centralizar input[type=text]:-ms-input-placeholder
{
    /* IE 10+ */
    font-size: 16px;
}
#search-busca #search-centralizar input[type=text]:-moz-placeholder
{
    /* Firefox 18- */
    font-size: 16px;
}
#search-busca #search-centralizar p
{
    float: right;

    width: 70%;
    margin-top: 5px;
}
#menu-blog h2
{
    font-size: 18px;

    margin: 0;
    padding: 20px 5%;

    text-align: left;

    color: #fff;
    background: #d4006d;
}
#menu-blog ul
{
    padding: 0 !important;
}
#menu-blog ul li
{
    font-size: 18px;
    font-weight: 300;

    padding: 20px 5%;

    border-bottom: 0;
    border-left: 5px solid #f6f5f2;
}
#menu-blog ul li:last-child, .submenu li:last-child, #menu-institucional ul li:last-child {
    
}
#menu-blog ul li a
{
    color: #767C84;
}
#menu-blog .blog-menu-active
{
    border-left: 5px solid #d4006d !important;
    color:#d4006d;
    background: #ebebe9;
}

#menu-blog .blog-menu-active a {color:#d4006d;}
#content-right .content-blog-01 h1,
#content-right .content-blog-02 h1,
#content-right .content-blog-03 h1
{
    font-size: 15px;
    font-weight: 400;

    margin: 0;
    padding: 0;

    color: #d4006d;
}
#content-right .content-blog-01 p,
#content-right .content-blog-02 p,
#content-right .content-blog-03 p
{
    color: #828282;
}
#content-right .content-blog-01,
#content-right .content-blog-02,
#content-right .content-blog-03
{
    overflow: hidden;
    margin-bottom: 10px;
    height: auto;
    height: 560px;
}
#content-right .content-blog-01 .blog-imagem,
#content-right .content-blog-02 .blog-imagem,
#content-right .content-blog-03 .blog-imagem
{
    width: 100%;
    margin: 0 0 20px;
}
#content-right .content-blog-01 .blog-imagem img,
#content-right .content-blog-02 .blog-imagem img,
#content-right .content-blog-03 .blog-imagem img
{
    width: 100%;
}

/*casa em dia interna*/
#titulo-blog
{
    float: left;
    overflow: hidden;

    width: 100%;
    margin: 70px 0 20px;
}
#titulo-blog #titulo-centralizar
{
    width: 95%;
    margin: auto;
    padding: 0 2%;
}
#bg-content-right ol
{
    clear: both;

    margin-bottom: 40px;
}
#bg-content-right li
{
    float: left;
}
#titulo-blog #titulo-centralizar h1
{
    font-size: 25px;
    font-weight: 400;

    margin: 0;
    padding: 0;

    text-transform: uppercase;

    color: #d4006d;
}
#titulo-blog #titulo-centralizar h2
{
    font-size: 18px;
    font-weight: 400;

    margin: 0;
    padding: 0;

    text-align: left;
    text-transform: uppercase;

    color: #d4006d;
}
#titulo-blog #titulo-centralizar h3
{
    font-size: 15px;
    font-weight: 400;

    margin: 0;
    padding: 0;

    text-align: left;
    text-transform: uppercase;

    color: #d4006d;
}
#galleria
{
    height: 320px;
    margin: 20px 0;
}

/* credito em imagem */

p.credito {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    text-shadow: 1px 1px #000;
}

/*breadcrumb*/
.step-rosa
{
    background: #d4006d;
    color: #fff !important;
}
.step-rosa:before
{
    position: absolute;
    top: 0;
    left: -30px;

    display: block;

    width: 0;
    height: 0;

    content: '';

    border: 15px solid transparent;
    border-color: #d4006d;
    border-left-color: transparent;
}
.step-green
{
    background: #79a911;
}
.step-azul
{
    background: #01a1dd;
}
.step:before
{
    position: absolute;
    top: 0;
    left: -30px;

    display: block;

    width: 0;
    height: 0;

    content: '';

    border: 15px solid transparent;
    border-color: #d4006d;
    border-left-color: transparent;
}
.step-green:before
{
    position: absolute;
    top: 0;
    left: -30px;

    display: block;

    width: 0;
    height: 0;

    content: '';

    border: 15px solid transparent;
    border-color: #79a911;
    border-left-color: transparent;
}
.step
{
    font-weight: bold;
    line-height: 32px;

    position: relative;

    display: block;
    float: left;

    height: 30px;
    margin-right: 33px;
    padding-right: 10px;

    cursor: default;
    text-decoration: none;

    color: #fff;
}
.step-azul:before
{
    position: absolute;
    top: 0;
    left: -30px;

    display: block;

    width: 0;
    height: 0;

    content: '';

    border: 15px solid transparent;
    border-color: #01a1dd;
    border-left-color: transparent;
}
.step:after
{
    position: absolute;
    top: 0;
    right: -30px;

    display: block;

    width: 0;
    height: 0;

    content: '';

    border: 15px solid transparent;
    border-left-color: #f9f9f9;
}
.step:first-of-type
{
    padding-left: 15px;
}
.step:first-of-type:before
{
    display: none;
}
.step:last-of-type
{
    margin-right: 25px;
    padding-right: 15px;
    color:#fff !important;
}
.step:last-of-type:after
{
    display: none;
}
.step.completed
{
    cursor: pointer;

    color: #1c2b34;
    background: rgba(255, 255, 255, .5);
}
.step.completed:before
{
    border-color: rgba(255, 255, 255, .5);
    border-left-color: transparent;
}
.step.completed:after
{
    border-left-color: rgba(255, 255, 255, .5);
}
.step.completed:hover
{
    text-decoration: none;

    color: #fff;
    border-color: #41a4f0;
    background: #41a4f0;
}
.step.completed:hover:before
{
    border-color: #41a4f0;
    border-left-color: transparent;
}
.step.completed:hover:after
{
    border-left-color: #41a4f0;
}


/* ======================== TIMELINE NOVA ======================================== */






/* time line */
.hexa
{
    font-size: 22px;

    position: relative;

    float: left;

    width: 60px;
    height: 35px;
    margin-top: 15px;

    text-align: center;

    color: #3c3c3c;
    border: 0;
    background: #f0f0f0;
}
.hexa:before
{
    position: absolute;
    top: -15px;
    left: 0;

    width: 0;
    height: 0;

    content: '';

    border-right: 30px solid transparent;
    border-bottom: 15px solid #f0f0f0;
    border-left: 30px solid transparent;
}
.hexa:after
{
    position: absolute;
    bottom: -15px;
    left: 0;

    width: 0;
    height: 0;

    content: '';

    border-top: 15px solid #f0f0f0;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
}
.timeline
{
    position: relative;

    width: 100%;
    margin-top: 20px;
    padding: 0;

    list-style-type: none;
}
/*.timeline:before
{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 50%;

    display: block;

    width: 2px;
    height: 100%;
    margin-left: -1px;

    content: ' ';

    background: rgb(213, 213, 213);
    background:    -moz-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 1)), color-stop(100%, rgba(125, 185, 232, 1)));
    background: -webkit-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background:      -o-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background:     -ms-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background:         linear-gradient(to bottom, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
}*/
.timeline li
{
    padding: 2em 0;
}
.timeline .hexa
{
    position: absolute;
    z-index: 5;
    top: -30px;
    right: 0;
    left: 0;

    width: 16px;
    height: 10px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;

    background: #01a1dd;
}
.timeline .hexa:before
{
    top: -4px;

    border-right-width: 8px;
    border-bottom: 4px solid #01a1dd;
    border-left-width: 8px;
}
.timeline .hexa:after
{
    bottom: -4px;

    border-top: 4px solid #01a1dd;
    border-right-width: 8px;
    border-left-width: 8px;
}
.direction-l,
.direction-r
{
    float: none;

    width: 100%;

    text-align: center;
}
.flag-wrapper
{
    position: relative;

    text-align: center;
}
.flag
{
    font-weight: 600;

    position: relative;
    z-index: 15;
    line-height: 2;
    display: inline;

    padding: 6px 10px;

    text-align: left;

    background: #f6f5f2;
}
.direction-l .flag:after,
.direction-r .flag:after
{
    position: absolute;
    top: -15px;
    left: 50%;

    width: 0;
    height: 0;
    margin-left: -8px;

    content: '';
    pointer-events: none;

    border: solid transparent;
    border-width: 8px;
    border-bottom-color: rgb(255, 255, 255);
}
.direction-l .flag
{
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, .15), 0 0 1px rgba(0, 0, 0, .15);
       -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, .15), 0 0 1px rgba(0, 0, 0, .15);
            box-shadow: -1px 1px 1px rgba(0, 0, 0, .15), 0 0 1px rgba(0, 0, 0, .15);
}
.direction-r .flag
{
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .15), 0 0 1px rgba(0, 0, 0, .15);
       -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, .15), 0 0 1px rgba(0, 0, 0, .15);
            box-shadow: 1px 1px 1px rgba(0, 0, 0, .15), 0 0 1px rgba(0, 0, 0, .15);
}
.time-wrapper
{
    line-height: 1em;

    position: relative;
    z-index: 14;

    display: block;

    margin: 4px 0 0 0;

    vertical-align: middle;

    color: #fff;
}
.direction-l .time-wrapper
{
    float: none;
}
.direction-r .time-wrapper
{
    float: none;
}
.time
{
    display: inline-block;
    padding: 5px;
    background: #01a1dd;
}
.desc
{
    position: relative;
    z-index: 15;

    margin: 1em 0 0 0;
    padding: 1em;

    background: rgb(254, 254, 254);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .20);
       -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .20);
            box-shadow: 0 0 1px rgba(0, 0, 0, .20);
}
.direction-l .desc,
.direction-r .desc
{
    position: relative;
    z-index: 15;

    width: 50%;
    margin: 1em 1em 0 1em;
    padding: 1em;
}
.direction-l .desc img,
.direction-r .desc img
{
    width: 100%;
}
.direction-l .desc
{
    position: relative;
    right: 0;
}
.direction-l .desc
{
    width: 50%;
    margin-left: 150px;
}

@media(max-width:767px)
{
#form-contato #curriculo {width: 100%;}
#search-busca {top:32%;position: relative;margin-top: 0;}
#search-busca #search-centralizar h2 {width: 100%;margin-top: 0;top:0;}
#search-busca #search-centralizar {height: 150px;}
#search-busca #search-centralizar input[type=text] {margin-top: 14px;width: 100%;background-position: right -2px;
    background-size: 12%;height: 30px;}
#search-busca #search-centralizar p {width: 100%;}
#content-banner img {width: 100% !important;right: 0 !important;}
#bg-content-left #content-left-centralizar .submenu li p img {width: 100% !important;}
#box-sustentabilidade {margin-bottom: 20px;}
#box-sustentabilidade ul li .box-texto {width: 100%;float: none;top:45px;}
#bg-content-left #content-left-centralizar .accordion .link {padding: 25px;font-family: proxima_nova_rgregular;}
#bg-content-left #content-left-centralizar .accordion li i.fa-chevron-down {top:25px !important;}
#content-banner.blog-p {height: auto;}
}
@media(min-width:768px)
{


    .timeline
    {
        float: left;

        width: 660px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .timeline li:after
    {
        display: block;
        visibility: hidden;
        clear: both;

        height: 0;

        content: '';
    }
    .timeline .hexa
    {
        top: 8px;
        right: auto;
        left: -28px;
    }
    .timeline .direction-l .hexa
    {
        right: -28px;
        left: auto;
    }
    .direction-l
    {
        position: relative;

        float: left;

        width: 310px;

        text-align: right;
    }
    .direction-r
    {
        position: relative;

        float: right;

        width: 310px;

        text-align: left;
    }
    .flag-wrapper
    {
        display: inline-block;
    }
    .flag
    {
        font-size: 18px;
    }
    .direction-l .flag:after
    {
        top: 50%;
        right: -16px;
        left: auto;

        margin-top: -8px;

        border: solid transparent;
        border-width: 8px;
        border-left-color: rgb(254, 254, 254);
    }
    .direction-r .flag:after
    {
        top: 50%;
        left: -8px;

        margin-top: -8px;

        border: solid transparent;
        border-width: 8px;
        border-right-color: rgb(254, 254, 254);
    }
    .time-wrapper
    {
        display: inline;

        margin: 0;

        vertical-align: middle;
    }
    .direction-l .time-wrapper
    {
        float: left;
    }
    .direction-r .time-wrapper
    {
        float: right;
    }
    .time
    {
        padding: 5px;
    }
    .direction-r .desc
    {
        width: 50%;
        margin: 1em 0 0 .75em;
    }
}
@media(min-width:992px)
{
    .timeline
    {
        float: left;

        width: 800px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .direction-l
    {
        position: relative;

        float: left;

        width: 380px;

        text-align: right;
    }
    .direction-r
    {
        position: relative;

        float: right;

        width: 380px;

        text-align: left;
    }
}
@media screen and (max-width:1110px)
{

    #bg-content-right ol {margin-bottom: 0;}

    #content-banner
    {
        overflow: hidden;

        width: 100%;
    }
    #content-banner img
    {
        position: relative;
        right: 60%;

        width: 280%;
    }
    #nav-breadcrumb
    {
        display: none;
    }
    #content-left
    {
        float: right;

        width: 100%;

        order: 1;
    }
    .institucional
    {
        width: 100% !important;
    }

  .institucional img {
        width: 140px !important;

    }

    #content-right
    {
        width: 100%;
        margin-bottom: 20px;

        order: 2;
    }

    .content-full {
        order:3;
        width: 100%;
        display: block;
    }

    #form-contato label:first-child {
        width: 100%;
    }

    #form-contato input[type='submit'] {
        width: 100%;
    }

    #content-right img
    {
        width: 100%;
    }
    #content-right .content-produto-01,
    #content-right .content-produto-02,
    #content-right .content-blog-01,
    #content-right .content-blog-02,
    #content-right .content-blog-03
    {
        width: 100%;
    }
    #produtos-descricao #produto-imagem
    {
        width: 100%;
    }
    #titulo-produtos
    {
        margin: 10px 0 0 !important;
    }
    #titulo-produtos #titulo-centralizar h1
    {
        font-size: 22px;
    }
    #titulo-produtos #titulo-centralizar h2
    {
        font-size: 16px;
    }
    #produtos-descricao #produto-descricao
    {
        width: 100%;
    }
    #produtos-descricao #produto-descricao .produto-infos
    {
        width: 100%;
    }
    #produtos-disponivel ul li
    {
        width: 100%;
    }
    #produtos-relacionados ul li
    {
        width: 100%;
    }
    #menu-institucional,
    #menu-blog
    {
        margin-bottom: 20px;
    }

    footer .centralizar {
        display: block;
        flex-direction: initial;
    }

    .centralizar
    {
        display: flex;
        flex-direction: column;
    }
    #content-interna p
    {
        width: 100%;
    }
    .downloads img
    {
        width: initial !important;
    }
    .downloads h3
    {
        width: 50%;
    }

    #search-busca #search-centralizar h2 {font-size: 21px;}
    .bg-blog-left,
    .bg-blog-right
    {
        position: relative;

        width: 100% !important;
    }
    #form-contato .input-03-left,
    #form-contato .input-03-right,
    #form-contato .input-03-middle,
    #form-contato .input-02-left,
    #form-contato .input-03-left,
    #form-contato .input-04-left,
    #form-contato .input-04-right,
    #form-contato .input-02-right,
    #form-contato .input-03-right
    {
        width: 100%;
        margin: 5px 0;
    }
    .downloads h2
    {
        padding: 15.5px 5%;
    }
    #box-sustentabilidade ul
    {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #box-sustentabilidade ul li,
    #box-sustentabilidade ul li:nth-child(2),
    #box-sustentabilidade ul li:nth-child(5),
    #box-sustentabilidade ul li:nth-child(8)
    {
        width: 100%;
        margin: 5px 0;
        padding: 0;
    }
    #box-sustentabilidade ul li .box-texto
    {
        margin: 0;
        line-height: 1;
    }


}
