@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Montserrat:400,700);

header {
	width: 100%;
	float: left;
}
header #header-color {
	width: 100%;
	float: left;
}
header #header-color #color-01, header #header-color #color-02, header #header-color #color-03 {
	float: left;
	padding: 0.3%;		
} 

header #header-color #color-01 {
	width: 50%;
	background: #01a1dd;
}
header #header-color #color-02 {
	width: 30%;
	background: #088ac6;
}
header #header-color #color-03 {
	width: 20%;
	background: #1264a1;
}
.centralizar {
	width: 1025px;
	margin: auto;
	padding: 0.8% 0;
}
header #logo a {
	width: 174px;
	height: 124px;
	float: left;
}
header #nav-right {
	float: right;
	width: 824px;
}
header #nav-right #nav-social {
	width: 100%;
	float: left;
	text-align: right;
}
header #nav-right #nav-social ol {
	    float: right;
    width: 147px;
    margin: 10px 0 0;
}
header #nav-right #nav-social ol li {
	float: left;
	list-style: none;
	text-align: right;
}
header nav {
	width: 100%;
	font-weight: 400;
	color: #1c2b34;
	margin-top: 30px;
	float: left;
	text-align: right;
}
header nav a {
	color: #1c2b34 !important
}
header nav ol, #centralizar-banner ol { 
	list-style: none;
}
header nav ol li {
	display: inline-block;
	padding: 0 3px;
	text-transform: uppercase;
	font-size: 14px;
}
header nav ol li:first-child {
	padding-left: 0;
}
header nav ol li:first-child:after {
	content: url(../images/icon-arrow-menu.png);
	position: relative;
	top: -2px;
}
header nav ol li:nth-child(2):after {
	content: url(../images/icon-arrow-menu.png);
	position: relative;
	top: -2px;
}
header nav ol li:nth-child(7){
	padding-right: 0;
	position: relative;
	margin-left: 10%;
}
header nav ol li:nth-child(7) img {
	top:-5px;
	position: relative;
}