/*=========================================================================
DEV. POR PH2 www.ph2.com.br
==========================================================================*/
.container {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.block-media {
  width: 100%;
  display: inline-block;
  position: absolute;

}
#centralizar-banner {
	width: 1024px;
    margin: auto;
    position: relative;
    z-index: 2;
    	color: #fff;
}
#centralizar-banner h2 {
		margin: 30px 0;
	font-weight: 300;
	font-size: 30px;
	    color: #fff !important;
    text-align: left;
}
#centralizar-banner span {
	clear: both;
	border-top: 1px solid #85cde8;

	padding-top: 10px;
}
#centralizar-banner span:after {
	content: url(../../images/icon-banner-arrow.png);
	position: relative;
    left: 5px;
    top: 2px;
}
.block-text {
  width: 350px;
  height: auto;
  background: url(../../images/bg-banner.jpg);
  float: right;
  padding: 2% 0 15%;
}
.carousel-images > .slick-list {
  padding: 0 !important;
}
.carousel-images > .slick-list > .slick-slide {
  width: 350px !important;
}
.carousel-images > .slick-prev {
  top: 10px;
  left: 0;
}
.carousel-images > .slick-next {
  right: 10px;
}
.carousel-images > .slick-dots {
  bottom: -10px;
}
.carousel-images > .slick-dots > li button:before {
  font-size: 12px;
}
.carousel-text {
  font-weight: 100;
  padding: 20px;
}
.carousel-text .title {
  color: #bdc3c7;
  font-size: 1.05em;
  font-weight: 300;
  text-transform: uppercase;
}
.carousel-text .headline {
  color: #fff;
  text-align: justify;
}
/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white url("./ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; width: 100%;}
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

/* Icons */
@font-face { font-family: "slick"; src: url("./fonts/slick.eot"); src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg"); font-weight: normal; font-style: normal; }
/* Arrows */
.slick-prev, .slick-next { position: absolute; display: block; height: 20px; width: 20px; line-height: 0; font-size: 0; cursor: pointer; background: transparent; color: transparent; top: 50%; margin-top: -10px; padding: 0; border: none; outline: none; }
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { outline: none; background: transparent; color: transparent; }
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }

.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 20px; line-height: 1; color: white; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev { left: 20px; top: 30px; }
.slick-prev:before { content: url(../../images/icon-arrow-left.png);}

.slick-next { top: 30px;
    left: 50px;  }
.slick-next:before { content: url(../../images/icon-arrow-right.png); }

/* Dots */
.slick-slider { margin-bottom: 30px; }

.slick-dots { position: absolute; bottom: -45px; list-style: none; display: block; text-align: center; padding: 0;  }
.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0 5px; padding: 0; cursor: pointer;  }
.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; }
.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "\2022"; width: 20px; height: 20px; font-family: "slick"; font-size: 30px; line-height: 20px; text-align: center; color: #fff;  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before { color: #fff; border:2px solid #fff;  -webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;}

[dir="rtl"] .slick-next {right: auto;left: -25px;}
[dir="rtl"] .slick-next:before {content: "\2190";}
[dir="rtl"] .slick-prev {right: -25px;left: auto;}
[dir="rtl"] .slick-prev:before {content: "\2192";}
[dir="rtl"] .slick-slide {float: right;}


#owl-demo .item {
  float: left;
    height: 154px;
    overflow: hidden;
}

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}
