/*=========================================================================
DEV. POR PH2 www.ph2.com.br
==========================================================================*/
#content-banner {
	width: 100%;
	float: left;
	position: relative;
}
#content-banner img {
	width: 100%;
}
#nav-breadcrumb {
	width: 100%;
	position: absolute;
	top: 0;
}

#content-left {
	float: left;
	width: 250px;
	margin-right: 20px;
}

.centralizar p {
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
/*menu*/
#content-left ul {
	padding:0;
	margin:0;
}
.accordion {
 	width: 100%;
 	background: #FFF;
 	text-transform: uppercase;

 }

.accordion .link {
	cursor: pointer;
    display: block;
    padding: 15px;
    background: #01a1dd;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    border: 1px solid #01a1dd;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 15px;

	color: #01a1dd;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #fff;
}

.accordion li.open i {
	color: #fff;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.accordion li.default .submenu {display: block;}
/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	    padding: 0px 16px !important;
    border: 2px solid #01a1dd; 
 	font-size: 15px;
 }

 .submenu li {
 	
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #01A1DD;
 	padding: 12px 0;
 	
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }




/*breadcrumb*/

.step {
  display: block;
  float: left;
  font-weight: bold;
  background: #01a1dd;
  padding-right: 10px;
  height: 30px;
  line-height: 32px;
  margin-right: 33px;
  position: relative;
  text-decoration: none;
  color: #fff;
  cursor: default;
}
.step:before {
content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: -30px;
    border: 15px solid transparent;
    border-color: #01a1dd;
    border-left-color: transparent;
}
.step:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: -30px;
  border: 15px solid transparent;
  border-left-color: #f9f9f9;
}
.step:first-of-type {

  padding-left: 15px;
}
.step:first-of-type:before {
  display: none;
}
.step:last-of-type {
  
  margin-right: 25px;
  padding-right: 15px;
}
.step:last-of-type:after {
  display: none;

}
.step.completed {
  background: rgba(255, 255, 255, 0.5);
  color: #1c2b34;
  cursor: pointer;
}
.step.completed:before {
  border-color: rgba(255, 255, 255, 0.5);
  border-left-color: transparent;
}
.step.completed:after {
  border-left-color: rgba(255, 255, 255, 0.5);
}
.step.completed:hover {
  background: #41A4F0;
  border-color: #41A4F0;
  color: #fff;
  text-decoration: none;
}
.step.completed:hover:before {
  border-color: #41A4F0;
  border-left-color: transparent;
}
.step.completed:hover:after {
  border-left-color: #41A4F0;
}